body {
    background-color: black;
}

dev {
    width: 100%;
}

div#meme_jpg img {
    border: 5px solid white;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

div#meme_title {
    color: white;
    background-color: black;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
}

div#meme_description {
    color: white;
    background-color: black;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
