{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
    <div class="container align-items-center"
         style="text-align: center; padding-right: 15%; padding-left: 15%; padding-top: 5%">
        <form style="display: block" action="{{ url_for('add') }}" method="POST">
            <div class="form-group">
                <label>Movie title</label>
                <input class="form-control" name="title" type="text" placeholder="Title" required>
            </div>
            <div class="mt-5s">
                <button class="btn btn-dark" type="submit">
                    <a class="button" type="submit">Add movie</a>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}